<div id ="p1" >

  <!-- <button type="button" (click)="send_req()">Click Me!</button> -->
<div class="drop">
  <select id="lang" (change) ="languagechange($event.target.value)">
    <option value="english">English</option>
    <option value="arabic">عربى</option>
    <option value="russian">русский</option>
   
  </select>
</div>

<div *ngIf="english">


<div>
  <br>
  {{ 'Intro' | translate:user }}
</div>
</div>

<div  *ngIf="arabic"  >
   
  <div>
      <br>
    {{ 'Intro' | translate:user }}
  </div>
</div>
<div  *ngIf="russian"  >
  
 <div>
    <br>
   {{ 'Intro' | translate:user }}
 </div>
</div>